@using ProjectBLOCK5;
@using ProjectBLOCK5.Models;
@model List<Person>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Apex Admin
    </title>
    <link rel="shortcut icon" href="/images/logo-mb.png" type="image/png">
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- APP CSS -->
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>

    <!-- SIDEBAR -->
    <div class="sidebar">

        <div class="sidebar-user">
            <div class="sidebar-user-info">               
                <div class="sidebar-user-name">
                   Hello, @ViewBag.Person.Fullname
                </div>
            </div>
            <a asp-controller="Login" asp-action="Logout" class="btn btn-outline">
                  <i class='bx bx-log-out bx-flip-horizontal'></i>
            </a>
            
        </div>
        <!-- SIDEBAR MENU -->
        <ul class="sidebar-menu">
            <li>
                <a asp-controller="Admin" asp-action="Index" class="active">
                    <i class='bx bx-home'></i>
                    <span>dashboard</span>
                </a>
            </li>
           
            <li>
                <a asp-controller="Movies" asp-action="Index">
                    <i class='bx bx-chart'></i>
                    <span>Manager Movie</span>
                </a>
            </li>
            <li>
                <a asp-controller="Genre" asp-action="Index">
                    <i class='bx bx-chat'></i>
                    <span>Manager Genre</span>
                </a>
            </li>
            <li>
                <a asp-controller="Member" asp-action="Index">
                    <i class='bx bx-calendar'></i>
                    <span>Manager Account</span>
                </a>
            </li>
            <li class="sidebar-submenu">
                <a href="#" class="sidebar-menu-dropdown">
                    <i class='bx bx-cog'></i>
                    <span>settings</span>
                    <div class="dropdown-icon"></div>
                </a>
                <ul class="sidebar-menu sidebar-menu-dropdown-content">
                    <li>
                        <a href="#" class="darkmode-toggle" id="darkmode-toggle">
                            darkmode
                            <span class="darkmode-switch"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
    <!-- MAIN CONTENT -->

    <div class="main-header">
        <div class="mobile-toggle" id="mobile-toggle">
            <i class='bx bx-menu-alt-right'></i>
        </div>
        <div class="main-title">
            dashboard
        </div>
    </div>
    <div class="main-content">
        <div class="row">


            <div class="row">



                <div class="col-12">
                    <!-- ORDERS TABLE -->
                    <div class="box">
                        <div class="box-header">
                            Recent orders
                        </div>
                        <div class="box-body overflow-scroll">
                            <table>
                                <thead>
                                    <tr>
                                        <th>PersonId</th>
                                        <th>Fullname</th>
                                        <th>Gender</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Person person in Model)
                                    {
                                        <tr>
                                            <td>#@person.PersonId</td>

                                            <td>@person.Fullname</td>
                                            <td>@person.Gender</td>
                                            <td>@person.Email</td>
                                            @if (person.IsActive == true)
                                            {
                                                <td>
                                                    <span class="order-status order-shipped">
                                                        Active
                                                    </span>
                                                </td>
                                                <td>
                                                    <a asp-controller="Member" asp-action="SetStatus" asp-route-id="@person.PersonId" asp-route-status="@false">
                                                        <span class="order-status order-ready">
                                                            Deactive
                                                        </span>
                                                    </a>

                                                </td>
                                            }
                                            @if (person.IsActive == false)
                                            {
                                                <td>
                                                    <div class="payment-status payment-pending">
                                                        <div class="dot"></div>
                                                        <span>Deactive</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a asp-controller="Member" asp-action="SetStatus" asp-route-id="@person.PersonId" asp-route-status="@true">
                                                        <span style="color: red;" class="order-status order-ready">
                                                            Un-deactive
                                                        </span>
                                                    </a>

                                                </td>
                                            }


                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END ORDERS TABLE -->
                </div>
            </div>
        </div>

        <!-- END MAIN CONTENT -->

        <div class="overlay"></div>

        <!-- SCRIPT -->
        <!-- APEX CHART -->
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <!-- APP JS -->
        <script src="/js/app.js"></script>

</body>

</html>